	$("#mynewpost").modal('hide');
$(".title_article").val('');
$(".content_article").val('');
$(".image_article").val('');
$(".container_posts").prepend('<%= j render @article %>');
$('#post_<%= @article.id%>').hide().fadeIn(1000);
