// $(".show_articles").hide();
$(".search_input").val('');
// $(".show_articles").prepend("<%= j render @articles %>");
$(".show_articles").html('<%= j render @articles %>');
$(".show_articles").append('<%= will_paginate @articles,renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>');
