<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
	          <div class="panel-heading">
	            <h3 class="panel-title">Add your article</h3>
	          </div>
	          <div class="panel-body">
				<%= render 'form_article' %>
	          </div>
	        </div>
    	</div>
    	<div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">My Friends</h3>
              </div>
              <div class="panel-body">
                
                <div class="clearfix"></div>
                <a href="#" class="btn btn-primary">View All Friends</a>
              </div>
            </div>
            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Latest Groups</h3>
              </div>
              <div class="panel-body">
                
              </div>
            </div>
         </div>
	</div>
	<div class="row">
	  	<%= link_to "Back", articles_path(current_user) %>
	</div>
</div>
