$("#myupdatepost_<%= @article.id %>").modal('hide');
var a_link = "<a data-toggle='tooltip' title='' href='/articles/<%= @article.id %>' data-original-title='"+"<%= @article.created_at.strftime('At %r')%>"+"'><%= @article.title %></a>";
$("#post_<%= @article.id%>").find('.post-title').html(a_link);
$("#post_<%= @article.id%>").find('.post-subtitle').text('<%= @article.text.truncate(100) %>');
$('[data-toggle="tooltip"]').tooltip();