<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 form-group">
      <%= link_to "My Blog", user_path(current_user) %>
    </div>
    <div class="col-lg-12 form-group">
      <label for="">List Users</label>
      <table class="table">
        <thead>
          <th>User Name</th>
          <th>Full Name</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <%#= render @users %>
            <% if !current_user.authorities %>
                <%= render "admin", user: current_user %>
                <h1>My Profile</h1>
            <% else %>
                <% @users.each do |user| %>
                    <%= render "admin", user: user %>
                <% end %>
            <p><%= will_paginate @users %></p>

            <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>

 -->
 <h1>Empty Page</h1>