<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a><%= link_to image_tag("Vinova_Logo.png", alt: "logo", class: :'navbar-brand'), articles_path %></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "<i class='fa fa-user'></i> Welcome, ".html_safe+current_user.full_name, user_path(current_user), class: "nav-link" %></li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sample Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item"><%= link_to '<i class="fa fa-cog"></i> Edit'.html_safe, edit_user_path(current_user), class: "nav-link" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to '<i class="fa fa-sign-out"></i> Sign-out'.html_safe,  logout_path ,method: :delete, class: "nav-link"
                     %></li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function($) {
    "use strict";
    var MQL = 992;
    if ($(window).width() > MQL) {
      var headerHeight = $('#mainNav').height();
      $(window).on('scroll', {
        previousTop: 0
      },
      function() {
        var currentTop = $(window).scrollTop();
        //check if user is scrolling up
        if (currentTop < this.previousTop) {
          //if scrolling up...
          if (currentTop > 0 && $('#mainNav').hasClass('is-fixed')) {
            $('#mainNav').addClass('is-visible');
          } else {
            $('#mainNav').removeClass('is-visible is-fixed');
          }
        } else if (currentTop > this.previousTop) {
          //if scrolling down...
          $('#mainNav').removeClass('is-visible');
          if (currentTop > headerHeight && !$('#mainNav').hasClass('is-fixed')) $('#mainNav').addClass('is-fixed');
        }
        this.previousTop = currentTop;
      });
    }
  })(jQuery); // End of use strict

</script>
