<% articles.each do |article| %>
  <tr>
    <td><%= link_to article.title, article_path(article) %></td>
    <td><%= article.text.truncate(30) %></td>
	<td><%= time_ago_in_words(article.created_at) + " ago"%></td>
 	<td><%= link_to "Comment " , article_path(article) %><span class="badge"> <%= article.comments.all.count %> </span></td>
  </tr>
<% end %>