<li><%= link_to "Create Users ",  new_admin_user_path %></li>

<li><%= link_to "List Users ",  admin_users_path %></li>
<li><%= link_to "List Articles",  admin_articles_path %></li>
<li><%= link_to "Logout",  destroy_admin_session_path ,:method => :delete %></li>